<style>{%include "pages/manage/alter.css"%}</style>
<hr>
<div class="alter" id="alter" >
    <div id="blog" >
        {%if blogs%}
        <table class="table table-sm table-striped table-bordered table-hover table-condensed table-dark">
            <caption class="badge badge-secondary">Manage Your Blog</caption>
            <thead>
            <tr> <th>blog title</th>
                <th>operation</th></tr>
            </thead>
            <tbody>
            {%for blog in blogs%}
            <tr id="{{blog.id}}">
                <th class="blog-title" scope="row">{{blog.title}}</th>
                <td>

                    <label onclick="deleteBlog('{{blog.id}}')">Delete </label>
                        <label onclick="alterEditBlog('{{blog.id}}')">Edit</label>
                    <label><a href="/p/{{blog.id}}.html">View</a> </label>
                    <label><a href="/p/{{blog.id}}.html" target="preview-iframe">Preview</a> </label>
                </td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        {%endif%}
    </div>
</div>
<script>{%include "pages/manage/alter.js"%}</script>
<i class="fa fa-chevron-down" data-target="#preview-iframe-wrapper" data-toggle="collapse"></i> <label>Preview Here</label>
<div class="collapse" id="preview-iframe-wrapper">
<iframe name="preview-iframe" style="width:96%;height:500px;"></iframe>
</div>